
:root {
  
  --color-code01: #F6F6F6;
  --color-code02: #E5E5E5;
  --color-code03: #F6F7F9;
  --color-code04: #F8F8F8;
  --color-code05: #F0F0F0;
  --color-code06: #DCDCDC;
  --color-code07: #505050;
  --color-code08: #3F3F3F;
  --color-code09: #F1F1F1;
  --color-code10: #C4C4C4;
  --color-code11: #F4F1F1;
  --color-code12: #CCCCCC;
  --color-code13: #817F7F;
  --color-code14: #989595;
  --color-code15: #FF8F27;
  --color-code16: #F3F3F3;
  --color-code17: #3E7027;
  --color-code18: #5d5d5d;
  --color-code19: #E6EEF3;

  --color-code20: #E26A3E;
  --color-code21: #28708F;
  --color-code22: #95AD45;
  --color-code23: #9870B2;
  --color-code24: #F7BC31;  
  --color-code25: #264090; 

  --color-code26: #9A9999;
  --color-code27: #646464;
  --color-code28: #DEDEDE;
  --color-code29: #00B6C1;
  --color-code30: #c5c5c5;
  --color-code31: #323232;
  --color-code32: #EBF4FF;
  --color-code33: #DADADA;
  --color-code34: #a3a3a5;
  --color-code35: #252627;
  --color-code36: #354061;
  --color-code37: #b9b9b9;
  --color-code38: #ebebeb;
  --color-code39: #031678;
  --color-code40: #012C71;
  --color-code41: #1C2E4B; 
  --color-code42: #1C2E4B;
  --color-code43: #1C2E4B;
  --color-code44: #FF0000;
  --color-code45: #E81932;
  --color-code46: #F3FFFF;
  --color-code47: #e3eef1;
  --color-code48: #947F55;
  --color-code49: #bbbbbb;
  --color-code50: #545C3C;
  --color-code51: #75B343;
  --color-code52: #eeebe4;
  --color-code53: #BABABA;
  --color-code54: #CDCDCD;
  --color-code55: #A39D9D;
  --color-code56: #c2c2c2;
  --color-code57: #a7a7a7;


  --color-code70: #031678;
  --color-code71: #0B7E10;
  

  --color-black: #000;
  --color-white: #fff;
  
}













